*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;
}

#header{
    width: 100%;
}

.container{
    padding: 10px 5%;
    background-color: white; /*red*/
}
.container h3 a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: white; /* red */
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 60px;
    font-weight: bolder;
}

#container2{
    background-color: white; /* Blue */
    height: 900px;
    width: 100%;
}

.content1{ /* Grid Layout */
    background-color: white; /* orange */
    margin: 0 15%;
    height: 900px;
    display: grid;
    grid-template-columns: 950px 1fr;
    padding-top: 3%;
}

.home-text {  
    padding-top: 15%;
}

.home-text h1{
    font-size: 90px;
}

.home-text p{
    font-size: 20px;
    padding-top: 20px;
}

.content1-image {
    padding-top: 30%;
}

.content1-image img{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}






